*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-color: rgb(198, 194, 194);
}
.form{
    background-color: white;
    margin: 40px auto;
    font-style: normal;
    padding: 20px;
    max-width: 679px;
    /* max-height: 900px; */
    border-radius: 20px;
    box-shadow: -9px 9px 20px rgba(1, 1, 1, 0.5)
}
.form h1{
    font-size: 50px;
    text-shadow: -2px 3px 4px gray;
}
.span{
    font-size: large;
    font-style: inherit;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.form_container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.form_container label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}
input, select, textarea{
    padding: 6px;
    border: 2px solid rgb(202, 198, 198);
    box-shadow: -5px 5px 14px rgba(10, 2, 64, 0.6);
    border-radius: 10px;
    margin-top: 5px;
}
input:focus:hover{
    outline-color: blue;
}
.submit{
    display: flex;
    justify-content: end;
    margin-top: 30px;
}
button{
    background-color: rgb(20, 53, 213);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    box-shadow: -1px 1px 21px blue;
    transition: .8s ease-out;
}
button:hover{
    background-color: white;
    color: blue;
    border: 2px solid blue;
    transition: 0.3s ease-in;
    cursor: pointer;
    box-shadow: 0 0 0 rgb(0, 0, 0);
}
.form_container textarea{
    max-width: 100%;
}
.copyright{
    font-size: 15px;
    text-align: center;
    color: rgb(24, 24, 98);
}

