html,body{
    height: 100%;
    margin: 0;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}
.first-image{
    min-height: 100%;
    background-image: url(image1.jpg);
}
.second-image{
    min-height: 100%;
    background-image: url(image2.jpg);
}
.third-image{
    min-height: 100%;
    background-image: url(image3.jpg);
}
.fourth-image{
    min-height: 100%;
    background-image: url(image4.jpg);
}
.first-image,.second-image,.third-image,.fourth-image{
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.Parallax{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 500px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    background-color: rgb(48, 47, 47);
    padding: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    transition: 0.7s ease-in-out;
    text-transform: uppercase;
}
.para1{
    text-align: center;
    position: relative;
    color: rgb(204, 199, 199);
    font-size: 20px;
    padding: 20px;
    background-color: rgb(50, 47, 47); 
    font-family: "Lato", sans-serif;
}
p{
    text-align: justify;
    font-size: small;
}