*{
    margin: 0px;
    padding: opx;
    box-sizing: border-box;
}
.main{
    min-height: 100vh;
    background-color: rgb(186, 215, 243);
    border: 10px solid rgb(17, 28, 68);
    position: relative;
}
.content{
    max-width: 900px;
    margin: 0 auto;
}
.top-section{  
    margin-top: 180px;
    justify-content: space-between;
    display: flex;
    /* margin-left: 800px; */
}
.image
img{
    width: 250px;
    height: 300px;
}
.image{
    border-radius: 40%;
    overflow: hidden;
}
.top-section h1 {
    font-size: 72px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    top: 330px;
    right: 141px;
}
.top-section h4 {
    font-size: 56px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    position: absolute;
    top: 415px;
    right: 579px;
}
.about-section h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bolder;
    font-style: italic;
    color: brown;
}
.about-section p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
.bio h3{
    margin: 50px 0px;
    font-size: 30px;
    font-weight: bolder;
    font-display: 789px;
}
.bio li{
    margin-left: 50px;
    margin-bottom: 10px;
    font-size: 20px;
}
.footer{
    text-align: end;
    
}