*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 400px;
    /* border: 2px solid black; */
    position: relative;
    top: 20px;
    left: 0px;
}
.sun{
    width: 190px;
    height: 190px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    top: 190px;
    left: -10px;
    overflow: hidden;
    animation-timing-function: ease-in-out;
    animation: sun 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;

}
.cloud1{
    width: 500px;
    height: 1000px;
    position: absolute;
    overflow: hidden;
    top: 100px;
    left: 40px; 
    border-radius: 10%;
    opacity: .4;
    animation: cloud1 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.cloud2{
    width: 500px;
    height: 1000px;
    position: absolute;
    overflow: hidden;
    top: 50px;
    left: 400px; 
    border-radius: 10%;
    opacity: .4;
    animation: cloud2 5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}
.cloud3{
    width: 500px;
    height: 1000px;
    position: absolute;
    overflow: hidden;
    top: 200px;
    right: 80px; 
    border-radius: 10%;
    opacity: .4;
    animation: cloud3 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes sun{
    from{
        top: 190px;
        left: -10px;
        background-color: yellow;
    }
    to{
        top: 30px;
        left: 110%;
        background-color: orange;
    }
}
@keyframes cloud1{
    from{
        top: 100px;
        left: 40px;
    }
    to{
        top: 100px;
        left: 90%;
    }
}
@keyframes cloud2{
    from{
        top: 50px;
        left: 400px; 
    }
    to{
        top: 100px;
        left: 90%;
    }
}
@keyframes cloud3{
    from{
        top: 200px;
        right: 80px;
    }
    to{
        top: 190px;
        right: 101%;
    }
}
